{% extends 'base.html' %}

{% block title %}Projects — Erik Walther{% endblock %}
{% block meta_description %}View my projects and experiments. Django, Python, web security and more.{% endblock %}

{% block content %}
<!--<div class="header-center card">
    <h1 class="card-title">My projects</h1>
</div>-->
<div class="projects-grid">
    {% for project in projects %}
    <article class="card">
        <h2 class="card-title">
            <a href="{% url 'portfolio:project_detail' project.slug %}">{{ project.title }}</a>
        </h2>
        <div class="card-meta">
            {{ project.created_at|date:"d M Y" }}
        </div>
        <p class="card-description">{{ project.description|truncatewords:30 }}</p>
        <a href="{% url 'portfolio:project_detail' project.slug %}" class="btn btn-outline">Read more</a>
    </article>
    {% empty %}
    <p class="no-projects">No projects yet.</p>
    {% endfor %}
</div>
{% endblock %}
