{% extends 'base.html' %}

{% block structured_data %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "CreativeWork",
    "headline": "{{ page.title }}",
    "description": "{{ project.description|escapejs }}",
    "author": {
        "@type": "Person",
        "name": "Erik Walther"
    },
    "datePublished": "{{ project.created_at|date:'Y-m-d' }}",
    "dateModified": "{{ page.updated_at|date:'Y-m-d' }}",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://erikwalther.eu{{ request.get_full_path }}"
    },
    "publisher": {
        "@type": "Person",
        "name": "Erik Walther",
        "logo": {
            "@type": "ImageObject",
            "url": "https://erikwalther.eu/static/images/logo.png"
        }
    }
}
</script>
{% endblock %}
